<section class="section">
  <div class="container">
    <h2>Education</h2>
    <ul>
      <li><span>September 2013 - June 2017</span><span>Separated Structural Subdivision Vasiliska College of Tavriyskiy State Agrotechnological University</span><span>Administration of computer systems and networks</span></li>
      <li><span>September 2017 - June 2019</span><span>Tavriyskiy State Agrotechnological University</span><span>Computer sciencer</span></li>
      <li><span>September 2019 - February 2021</span><span>Tavriyskiy State Agrotechnological University</span><span>Mechanical engineering</span></li>
      <li><span>September 2019 - June 2021</span><span>Higher education institution "Interregional Academy of Personnel Management"</span><span>Law Enforcement Activity</span></li>
    </ul>
  </div>
</section>
