<section class="section">
    <div class ='container'>
        <h2>EXPERIENCE</h2>
        <table>
            <tr>
                <th><span>September 2020 - up to now</span><span>Vasylivska RDA</span></th>
                <th><span>Head of the department for document circulation and control</span>
                    <ul >
                        <li><span>Ensuring timely execution of documents.</span></li>
                        <li><span>Organization of office work.</span></li>
                        <li><span>Improvement of the organization of archival work.</span></li>
                        <li><span>Control of accounting of seals/stamps that are used.</span></li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th><span>May 2018 - September 2020</span><span>Vasylivska RDA</span></th>
                <th><span>Head specialist</span>
                    <ul class="work-list">
                        <li><span>Maintenance of computer systems and networks.</span></li>
                        <li><span>Maintain and update the website.</span></li>
                    </ul>
                </th>
            </tr>
        </table>
    </div>
</section>
