<section class="section">
    <div class ='container'>
        <h1>Fullstack Developer, Google Ex-Tech Lead</h1>
        <p>Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.</p>
        <img src="./images/avatar.png" alt="Artem Pavlichenco">
        <ul>
            <li><span>Phone</span><a href="tel:+000-0000-000">000-0000-000</a></li>
            <li><span>Email</span><a href="mailto:xxxxx@gmail.com">xxxxx@gmail.com</a></li>
            <li><span>Git</span><a href="https://github.com/artipavl">artipavl</a></li>
        </ul>
    </div>
</section>
