<section class="section">
  <div class="container">
    <h2>Tech Skills</h2>
    <ul>
      <li><span>HTML5</span></li>
      <li><span>CSS3</span></li>
      <li><span>GIT</span></li>
      <li><span>WebPack</span></li>
      <li><span>JavaScript</span></li>
      <li><span>Python 3</span></li>
      <li><span>C++</span></li>
      <li><span>C#</span></li>
      <li><span>Delphi 7</span></li>
      <li><span>React.js</span></li>
      <li><span>Node.js</span></li>
    </ul>
  </div>
</section>
